* {
    box-sizing: border-box;
}


body {
    background-color: #458588;
	font-size: 30px;
    position: relative;
    color: #fbf1c7;
}

.container {
	text-align: center;
}

.submit-row {
	text-align: center;
}

h1 {
	text-align: center;
    color: #fbf1c7;
	letter-spacing: 2px;
	margin-top: 2%;
}

h5 {
	margin-top: 6%;
	text-align: center;
}

img {
	width: 7%;
	margin-left: 46.5%;
	margin-top: 3%;
    margin-left: 46.5%;
    
}

form {
	padding: 20px;
}

input#name {
	width: 25%;
	padding: 2%;
}

button.addBurgerButton {
	position: absolute;
	bottom: 8%;
	left: 45%;
	background-color:#b8bb26;/* Blue */
    border: none;
    color:#fbf1c7;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;

}

button {
    background-color: #b8bb26(42, 95%, 58%);
    color: #fe8019;
    font-weight: bold;
}





	